<tr id="offresTelFixePreselection@id">
    <td width="15%">
        <select id="inputOffresTelFixePreselection@id">
            <!-- Populated by javascript -->
        </select>
    </td>
    <td id="offresTelFixePreselectionEngagement@id"><!-- Populated by javascript --></td>
    <td><input class="input-mini" type="number" id="inputOffresTelFixePreselectionQuantite@id" min="0" value="0"></td>
    <td id="offresTelFixePreselectionPrixBrut@id"><!-- Populated by javascript --></td>
    <td class="hidden" id="offresTelFixePreselectionRemise@id"><!-- Populated by javascript --></td>
    <td class="hidden" id="offresTelFixePreselectionPrixRemise@id"><!-- Populated by javascript --></td>
    <td class="hidden" id="offresTelFixePreselectionPrixMois@id"><!-- Populated by javascript --></td>
    <td class="hidden" id="offresTelFixePreselectionPrixRecurrence@id"><!-- Populated by javascript --></td>
    <td id="offresTelFixePreselectionPrixNet@id"><!-- Populated by javascript --></td>
    <td id="offresTelFixePreselectionMontantBrut@id"><!-- Populated by javascript --></td>
    <td id="offresTelFixePreselectionMontantNet@id"><!-- Populated by javascript --></td>
</tr>
