<tr id="offresTelFixeCentrex@id">
    <td>
        <select class="input-large" id="inputOffresTelFixeCentrex@id">
            <!-- Populated by javascript -->
        </select>
    </td>
    <td id="offresTelFixeCentrexEngagement@id"><!-- Populated by javascript --></td>
    <td><input class="input-small" type="number" id="inputOffresTelFixeCentrexQuantite@id" min="0" value="0"></td>
    <td id="offresTelFixeCentrexPrixBrut@id"><!-- Populated by javascript --></td>
    <td class="hidden" id="offresTelFixeCentrexRemise@id"><!-- Populated by javascript --></td>
    <td class="hidden" id="offresTelFixeCentrexPrixRemise@id"><!-- Populated by javascript --></td>
    <td class="hidden" id="offresTelFixeCentrexPrixMois@id"><!-- Populated by javascript --></td>
    <td class="hidden" id="offresTelFixeCentrexPrixRecurrence@id"><!-- Populated by javascript --></td>
    <td id="offresTelFixeCentrexPrixNet@id"><!-- Populated by javascript --></td>
    <td id="offresTelFixeCentrexMontantBrut@id"><!-- Populated by javascript --></td>
    <td id="offresTelFixeCentrexMontantNet@id"><!-- Populated by javascript --></td>
</tr>
