@bc-color-step-size: 10%;  

@bc-black:       #000000;
@bc-grey:        #808080;
@bc-white:       #ffffff;
@bc-yellow:      #b58900;
@bc-orange:      #cb4b16;
@bc-red:         #dc322f;
@bc-magenta:     #d33682;
@bc-violet:      #6c71c4;
@bc-blue:        #268bd2;
@bc-light-blue:  #d8e0e8;
@bc-cyan:        #2aa198;
@bc-green:       #859900;

@border-color:             darken(@bc-grey, @bc-color-step-size * 2);
@border-collapsible-color: lighten(@bc-blue, @bc-color-step-size * 2);