@import "cf-colors.less";
@import "cf-shared.less";

/* The page header */
.header {
	.rounded-corners(15px);
	margin: 10px;
	padding: 25px 50px;
	margin-bottom: 20px;
	background-color: @cf-light-blue;
	font-size: 24px;
	line-height: 26px;
}

/* Mandatory fields are marked with a red star */
.mandatory {
	.text-shadow(0px, 1px, 0px, @cf-white);
	float: right;
	font-size: 20px;
	line-height: 20px;
	color: @cf-red;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.mandatory:after {
	    content: "*";
}

/* Legend of non collapsible bloc are written in orange */
.legend-non-collapsible {
	color: @cf-light-orange;
}

/* Special class for Code NAF's help-block */
.code-naf-desc {
	color: @cf-light-orange;
	font-size: 12px;
	font-weight: bold;
}

/* The borders are only displayed on wild screens */
@media (min-width: 768px) {
	.bordered-non-collapsible {
		.rounded-corners(15px);
		border-left: 1px solid @cf-light-orange;
	}

	.bordered-collapsible {
		.rounded-corners(15px);
		border-left: 1px solid @cf-light-blue;
	}
}

/* Don't focus the select inputs */
select:focus {
 	outline: 0; /* disable the default focus */
}

/* Allow horizontal scrollbars */ 
.scrollable {
	overflow-x: auto;
}

/* Table captions */
table caption {
	padding-bottom: 20px;
	text-align: left;
	font-size: 18px;
	color: @cf-light-orange;
}

/* Debug grid system */
.show-grid [class*="span"] {
 	background-color: #eee;
}
.show-grid:hover [class*="span"] {
 	background: #ddd;
}
.show-grid .show-grid [class*="span"] {
 	background-color: #ccc;
}
