@import "cf-colors.less";
@import "cf-shared.less";

/* The page header */
.header {
	.box-shadow(5px, 5px, 15px, @cf-black);
	padding: 25px 50px;
	margin-bottom: 20px;
	border: 1px solid @cf-black;
	background: -webkit-linear-gradient(45deg, #020031 0%,@cf-light-blue 100%);
	background: -moz-linear-gradient(45deg, #020031 0%, @cf-light-blue 100%);
	background: linear-gradient(45deg, #020031 0%,@cf-light-blue 100%);
	color: @cf-white;
	font-size: 24px;
	line-height: 26px;
}

/* Mandatory fields are marked with a red star */
.mandatory {
	.text-shadow(0px, 1px, 0px, @cf-white);
	float: right;
	font-size: 20px;
	line-height: 20px;
	color: @cf-red;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.mandatory:after {
	content: "*";
}

/* Legends */
legend {
	font-weight: bold;
}
.legend-collapsible {
	color: @cf-blue;
}
.legend-non-collapsible {
	color: @cf-light-orange;
}
.legend1 {
	font-size: 30px;
}
.legend2 {
	font-size: 24px;
}
.legend3 {
	font-size: 18px;
}

/* Special class for Code NAF's help-block */
.code-naf-desc {
	color: @cf-light-orange;
	font-size: 12px;
	font-weight: bold;
}

/* The borders are only displayed on wild screens */
@media (min-width: 768px) {
	.bordered {
		border-left: 1px solid @cf-light-grey;
	}
}

/* Don't focus the select inputs */
select:focus {
 	outline: 0; /* disable the default focus */
}

/* Allow horizontal scrollbars */ 
.scrollable {
	overflow-x: auto;
}

/* Table captions */
table caption {
	padding-bottom: 20px;
	text-align: left;
	font-size: 18px;
	color: @cf-light-orange;
}

/* Debug grid system */
.show-grid [class*="span"] {
 	background-color: #eee;
}
.show-grid:hover [class*="span"] {
 	background: #ddd;
}
.show-grid .show-grid [class*="span"] {
 	background-color: #ccc;
}
