@import "cf-colors.less";
@import "cf-shared.less";

.mandatory {
    color: @bc-red;
    text-shadow: 2px 2px 7px @bc-red;
    font-size: 18px;
}

/* Override Bootstrap style */


select:focus {
  outline: 0; /* disable the default focus */
}
